<% include ../_g/head.ejs %>
<link rel="stylesheet" href="<%= data['rootUrl'] %>/css/p/<%= data['catClass'] %>/<%= data['pageClass'] %>.css">
</head>
<body class="page-<%= data['catClass'] %>-<%= data['pageClass'] %>">

<% include ../_g/pagehead.ejs %>

<!--html start-->
<div class="page">
	<div class="main">
		<div class="m-tit3">
			<h2>您的资料保存成功</h2>
			<p>您已获得50个积分</p>
		</div>
		<!-- <div class="m-tit2"><h2>您的资料保存成功</h2></div>
		<div class="m-list6">
			<p>您已获得50个积分</p>
		</div> -->
		<div class="m-bt3">
			<a href="#">返回个人中心</a>
		</div>
	</div>
</div>

<!--html end-->

<% include ../_g/pagefoot.ejs %>
<% include ../_g/script.ejs %>
<script src="<%= data['rootUrl'] %>/js/p/<%= data['catClass'] %>/<%= data['pageClass'] %>.js"></script>
<% include ../_g/foot.ejs %>