<% include ../_g/head.ejs %>
<link rel="stylesheet" href="<%= data['rootUrl'] %>/css/p/<%= data['catClass'] %>/<%= data['pageClass'] %>.css">
</head>
<body class="page-<%= data['catClass'] %>-<%= data['pageClass'] %>">

<% include ../_g/pagehead.ejs %>

<!--html start-->
<div class="page">
	<div class="main">
		<div class="m-tit2"><h2>我的活动</h2></div>
		<div class="m-list8">
			<section class="in">
				<div class="m-pic1">
					<img src="http://www.chinabeer.net/uploadfiles/20108911252975.jpg">
				</div>
				<div class="m-p10">
					<div class="m-tit1"><h2>北京amp动感世界杯开幕</h2></div>
					<div class="m-list2">
						<p class="time">活动时间：2014-6-13 — 2014-7-16</p>
						<p class="adr">活动地址：B1-10</p>
					</div>
				</div>
				<div class="inpic"></div>
			</section>
			<section class="in">
				<div class="m-pic1">
					<img src="http://www.chinabeer.net/uploadfiles/20108911252975.jpg">
				</div>
				<div class="m-p10">
					<div class="m-tit1"><h2>北京amp动感世界杯开幕</h2></div>
					<div class="m-list2">
						<p class="time">活动时间：2014-6-13 — 2014-7-16</p>
						<p class="adr">活动地址：B1-10</p>
					</div>
				</div>
				<div class="inpic"></div>
			</section>
			<section class="end">
				<div class="m-pic1">
					<img src="http://www.chinabeer.net/uploadfiles/20108911252975.jpg">
				</div>
				<div class="m-p10">
					<div class="m-tit1"><h2>北京amp动感世界杯开幕</h2></div>
					<div class="m-list2">
						<p class="time">活动时间：2014-6-13 — 2014-7-16</p>
						<p class="adr">活动地址：B1-10</p>
					</div>
				</div>
				<div class="endpic"></div>
			</section>
			<section class="nostart">
				<div class="m-pic1">
					<img src="http://www.chinabeer.net/uploadfiles/20108911252975.jpg">
				</div>
				<div class="m-p10">
					<div class="m-tit1"><h2>北京amp动感世界杯开幕</h2></div>
					<div class="m-list2">
						<p class="time">活动时间：2014-6-13 — 2014-7-16</p>
						<p class="adr">活动地址：B1-10</p>
					</div>
				</div>
				<div class="nostartpic"></div>
			</section>
		</div>
	</div>
</div>

<!--html end-->

<% include ../_g/pagefoot.ejs %>
<% include ../_g/script.ejs %>
<script src="<%= data['rootUrl'] %>/js/p/<%= data['catClass'] %>/<%= data['pageClass'] %>.js"></script>
<% include ../_g/foot.ejs %>