<% include ../_g/head.ejs %>
<link rel="stylesheet" href="<%= data['rootUrl'] %>/css/p/<%= data['catClass'] %>/<%= data['pageClass'] %>.css">
</head>
<body class="page-<%= data['catClass'] %>-<%= data['pageClass'] %>">

<% include ../_g/pagehead.ejs %>
<!--html start-->
<div class="page">
	<div class="main">
		<div class="m-tit2"><h2>我的优惠券</h2></div>
		<div class="m-list4">
			<section>
				<div class="info">
					<img src="http://i1.dpfile.com/pc/9f15542f3405b23ba0680b0cf1c47e55/31243539_m.jpg">
					<div class="tex">
						<p>店铺代金券</p>
						<p>有效期：2014-03-09至2014-09-14</p>
					</div>
				</div>
				<div class="pri">
					面值<em>￥30.00</em>
				</div>
				<div class="rule">
					<p>消费满100元，可使用一张，每次仅限一次使用</p>
				</div>
			</section>
			<section class="over">
				<div class="info">
					<img src="http://i1.dpfile.com/pc/9f15542f3405b23ba0680b0cf1c47e55/31243539_m.jpg">
					<div class="tex">
						<p>店铺代金券</p>
						<p>有效期：2014-03-09至2014-09-14</p>
					</div>
				</div>
				<div class="pri">
					面值<em>￥30.00</em>
				</div>
				<div class="rule">
					<p>消费满100元，可使用一张，每次仅限一次使用</p>
				</div>
				<div class="overpic"></div>
			</section>
			<section class="use">
				<div class="info">
					<img src="http://i1.dpfile.com/pc/9f15542f3405b23ba0680b0cf1c47e55/31243539_m.jpg">
					<div class="tex">
						<p>店铺代金券</p>
						<p>有效期：2014-03-09至2014-09-14</p>
					</div>
				</div>
				<div class="pri">
					面值<em>￥30.00</em>
				</div>
				<div class="rule">
					<p>消费满100元，可使用一张，每次仅限一次使用</p>
				</div>
				<div class="usepic"></div>
			</section>
			
		</div>
	</div>
	
</div>
<!--html end-->

<% include ../_g/pagefoot.ejs %>
<% include ../_g/script.ejs %>
<script src="<%= data['rootUrl'] %>/js/p/<%= data['catClass'] %>/<%= data['pageClass'] %>.js"></script>
<% include ../_g/foot.ejs %>