<% include ../../common/header.ejs %>
<link rel="stylesheet" href="<%=staticUrl%>/static/css/badmin/actives/detail.css">
</head>
<body class="actives-detail">
<% include ../../common/h5-header.ejs %>
<% include ../../common/header_menu.ejs %>
    <div id="wrap">
    	<div id="main" class="clearfix">
            <div id="content" class="content">
                <div class="ui-grid-row">
                    <div class="ui-grid-5 asidenav">
                        <%include ../includes/sidebar.ejs%>
                    </div>
                    <div class="ui-grid-20">
                        <div class="main">
                            <div class="ui-block ui-block-title">
                                <div class="ui-title ui-title-line fn-clear">
                                    <h3>活动详情</h3>
                                </div>
                            </div>
                            <form class="ui-form" name="" onsubmit="return false;">
                                <fieldset>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">举办方:</label>
                                        <p class="ui-form-text">王小丫服装店</p>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">活动主题:</label>
                                        <p class="ui-form-text">免费穿衣体验申请</p>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">活动特色:</label>
                                        <p class="ui-form-text">连衣裙，典雅</p>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">活动类型:</label>
                                        <p class="ui-form-text">免费体验</p>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">活动时间:</label>
                                        <p class="ui-form-text"><span>2014年5月19日 12:00</span> 至 <span>2014年5月19日 16:00</span></p>                                        
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">活动地点:</label>
                                        <p class="ui-form-text">汉阳人信汇B座3层，王小丫服装店</p>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">线上报名:</label>
                                        <p class="ui-form-text">需要</p>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">报名时间:</label>
                                        <p class="ui-form-text"><span>2014年5月19日 12:00</span> 至 <span>2014年5月19日 16:00</span></p>   
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">人数限制:</label>
                                        <p class="ui-form-text">30人</p>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">报名进度:</label>
                                        <div class="ui-form-text c_progressbar"><div><span style="width:33%"></span></div><span>10/30</span><a href="#">查看报名名单</a></div>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">关注人数:</label>
                                        <div class="ui-form-text c_progressbar"><span>1400</span><a href="#">查看关注名单</a></div>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">主题图片：</label>
                                        <p><img class="maxwidth600" src="<%=staticUrl%>/static/images/tmp/quan.jpg"></p>
                                        <p><img class="maxwidth600" src="<%=staticUrl%>/static/images/tmp/quan.jpg"></p>
                                    </div>
                                </fieldset>
                                <fieldset>
                                
                                <div class="ui-form-item">
                                    <label for="" class="ui-label">活动详情:</label>
                                    <ul>
                                        <li>• 活动日期：5月10日-5月19日</li>
                                        <li>• 开奖日期：5月20日抽出10名幸运用户</li>
                                        <li>• 活动奖品：价值100元的澳门豆捞代金券2张</li>
                                        <li>• 使用规则：本单奖品不能折换现金</li>
                                        <li>• 体验规则：中奖用户需在 1 个月内到店体验霸王餐，并发送图文版品尝报告微博</li>
                                        <li>• 微博发送要求：内容需@美团及@美团霸王餐+ #美团霸王餐# （文字要求：100 字及以上； 图片要求：中奖用户本人与该店招牌及所点食物合照各 1 张 ）</li>
                                        <li>• 注意事项：开奖后美团将以电话及短信形式通知中奖用户，请务必保持手机畅通</li>
                                        <li><img class="maxwidth600" src="<%=staticUrl%>/static/images/tmp/quan.jpg" alt="" /></li>
                                        <li><img class="maxwidth600" src="<%=staticUrl%>/static/images/tmp/quan.jpg" alt="" /></li>
                                    </ul>
                                </div>
                                <div class="ui-form-item supply">
                                    <label class="ui-label">创建人:</label>
                                    <p class="ui-form-text">王小亚</p>
                                </div>
                                <div class="ui-form-item supply">
                                    <label class="ui-label">创建时间:</label>
                                    <p class="ui-form-text">2014-5-20 09:41:51</p>
                                </div>
                            </fieldset>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
		</div>
	</div>
<% include ../../common/script_footer.ejs %>
<script src="<%=staticUrl%>/static/js/badmin/actives/detail.js"></script>
<% include ../../common/footer.ejs %>