<% include ../_g/head.ejs %>
<link rel="stylesheet" href="<%= data['rootUrl'] %>/css/p/<%= data['catClass'] %>/<%= data['pageClass'] %>.css">
</head>
<body class="page-<%= data['catClass'] %>-<%= data['pageClass'] %>">

<% include ../_g/pagehead.ejs %>

<!--html start-->
<div class="page">
	<div class="main">
		<div class="m-tit2"><h2>您已报名成功</h2></div>
		<div class="m-list2">
			<p class="time">活动时间：2014-6-13 — 2014-7-16</p>
			<p class="adr">活动地点：B1-10</p>
			<p class="spo">主办方：西单大悦城店</p>
			<p class="pho">咨询电话：<a href="tel:18311396171">18311396171</a></p>
		</div>
		<div class="m-bt3">
			<a href="#">查看其它活动</a>
		</div>
	</div>
</div>

<!--html end-->

<% include ../_g/pagefoot.ejs %>
<% include ../_g/script.ejs %>
<script src="<%= data['rootUrl'] %>/js/p/<%= data['catClass'] %>/<%= data['pageClass'] %>.js"></script>
<% include ../_g/foot.ejs %>