<% include ../../common/header.ejs %>
<link rel="stylesheet" href="<%=staticUrl%>/static/css/badmin/accountmanage/msgdetail.css">
</head>
<body class="accountmanage-msgdetail">
<% include ../../common/h5-header.ejs %>
<% include ../../common/header_menu.ejs %>
    <div id="wrap">
    	<div id="main" class="clearfix">
            <div id="content" class="content">
                <div class="ui-grid-row">
                    <div class="ui-grid-5 asidenav">
                        <%include ../includes/sidebar.ejs%>
                    </div>
                    <div class="ui-grid-20">
                        <div class="main">
                            <div class="ui-block ui-block-title">
                                <div class="ui-title ui-title-line fn-clear">
                                    <h3>商户:{未命名}</h3>
                                </div>
                            </div>
                            <form class="ui-form" name="" onsubmit="return false;">
                                <fieldset>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">
                                            商户店铺:
                                        </label>
                                        <b class="ui-form-text">王小丫的精品女装</b>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">
                                            商户概要:
                                        </label>
                                        <p class="ui-form-text">一家以韩国精品女装为特色的精品店铺。</p>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">
                                            商户介绍:
                                        </label>
                                        <p class="ui-form-text">介绍介绍介绍介绍介绍</p>
                                    </div>
                                    <hr />
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">
                                            商家固话:
                                        </label>
                                        <p class="ui-form-text">027-788778776</p>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">
                                            营业时间:
                                        </label>
                                        <p class="ui-form-text">8:00-19:00</p>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">
                                            楼层位置:
                                        </label>
                                        <p class="ui-form-text">3层</p>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">
                                            位置编号:
                                        </label>
                                        <p class="ui-form-text">328</p>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">                                        
                                            经营品牌:
                                        </label>
                                        <p class="ui-form-text">萨里拉</p>                                        
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">
                                            人均消费:
                                        </label>
                                        <p class="ui-form-text">200元</p>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">
                                            公司名称:
                                        </label>
                                        <p class="ui-form-text">王小丫有限公司</p>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">
                                            负责人:
                                        </label>
                                        <p class="ui-form-text">王小丫</p>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">
                                            联系信箱:
                                        </label>
                                        <p class="ui-form-text">wangxiaoya@126.com</p>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">
                                            联系手机:
                                        </label>
                                        <p class="ui-form-text">1367777777</p>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">
                                            行业业态:
                                        </label>
                                        <p class="ui-form-text">精品 - 女装</p>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">
                                        商户Logo:
                                        </label>
                                        <img src="<%=staticUrl%>/static/images/tmp/quan.jpg">
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="" class="ui-label">
                                        商铺图片:
                                        </label>
                                        <p class="ui-form-text"><img src="<%=staticUrl%>/static/images/tmp/quan.jpg"></p>
                                        <p class="ui-form-text"><img src="<%=staticUrl%>/static/images/tmp/quan.jpg"></p>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
		</div>
	</div>
<% include ../../common/script_footer.ejs %>
<script src="<%=staticUrl%>/static/js/badmin/accountmanage/msgdetail.js"></script>
<% include ../../common/footer.ejs %>