<% include ../_g/head.ejs %>
<link rel="stylesheet" href="<%= data['rootUrl'] %>/css/p/<%= data['catClass'] %>/<%= data['pageClass'] %>.css">
</head>
<body class="page-<%= data['catClass'] %>-<%= data['pageClass'] %>">

<% include ../_g/pagehead.ejs %>

<!--html start-->
<div class="page">
	<div class="main">
		<form action="http://www.baidu.com/baidu" target="_blank">
			<table bgcolor="#FFFFFF"><tr><td>
			<input name=tn type=hidden value=baidu>
			<a href="http://www.baidu.com/"><img src="http://img.baidu.com/img/logo-80px.gif" alt="Baidu" align="bottom" border="0"></a>
			<input type=text name=word size=30>
			<input type="submit" value="百度搜索">
			</td></tr></table>
		</form>
		<div class="m-link">
			<ul>
				<li>
					<a href="#">
						<img src="http://192.168.1.124:8181/wx/img/163.png">
						<span>网易</span>
					</a>	
				</li>
				<li>
					<a href="#">
						<img src="http://192.168.1.124:8181/wx/img/wxhy.png">
						<span>微信好友</span>
					</a>	
				</li>
				<li>
					<a href="#">
						<img src="http://192.168.1.124:8181/wx/img/wxpyq.png">
						<span>微信朋友圈</span>
					</a>	
				</li>
				<li>
					<a href="#">
						<img src="http://192.168.1.124:8181/wx/img/qqhy.png">
						<span>QQ好友</span>
					</a>	
				</li>
				<li>
					<a href="#">
						<img src="http://192.168.1.124:8181/wx/img/txwb.png">
						<span>腾讯微博</span>
					</a>	
				</li>
				<li>
					<a href="#">
						<img src="http://192.168.1.124:8181/wx/img/sinawb.png">
						<span>新浪微博</span>
					</a>	
				</li>
				<li>
					<a href="#">
						<img src="http://192.168.1.124:8181/wx/img/163.png">
						<span>网易</span>
					</a>	
				</li>
				<li>
					<a href="#">
						<img src="http://192.168.1.124:8181/wx/img/wxhy.png">
						<span>微信好友</span>
					</a>	
				</li>
				<li>
					<a href="#">
						<img src="http://192.168.1.124:8181/wx/img/wxpyq.png">
						<span>微信朋友圈</span>
					</a>	
				</li>
				<li>
					<a href="#">
						<img src="http://192.168.1.124:8181/wx/img/qqhy.png">
						<span>QQ好友</span>
					</a>	
				</li>
				<li>
					<a href="#">
						<img src="http://192.168.1.124:8181/wx/img/txwb.png">
						<span>腾讯微博</span>
					</a>	
				</li>
				<li>
					<a href="#">
						<img src="http://192.168.1.124:8181/wx/img/sinawb.png">
						<span>新浪微博</span>
					</a>	
				</li>
				<li>
					<a href="#">
						<img src="http://192.168.1.124:8181/wx/img/wxpyq.png">
						<span>微信朋友圈</span>
					</a>	
				</li>
				<li>
					<a href="#">
						<img src="http://192.168.1.124:8181/wx/img/qqhy.png">
						<span>QQ好友</span>
					</a>	
				</li>
				<li>
					<a href="#">
						<img src="http://192.168.1.124:8181/wx/img/txwb.png">
						<span>腾讯微博</span>
					</a>	
				</li>
				<li>
					<a href="#">
						<img src="http://192.168.1.124:8181/wx/img/sinawb.png">
						<span>新浪微博</span>
					</a>	
				</li>
			</ul>
		</div>
	</div>
	
	
</div>
<!--html end-->

<% include ../_g/pagefoot.ejs %>
<% include ../_g/script.ejs %>
<script src="<%= data['rootUrl'] %>/js/p/<%= data['catClass'] %>/<%= data['pageClass'] %>.js"></script>
<% include ../_g/foot.ejs %>