<% include ../_g/head.ejs %>
<link rel="stylesheet" href="<%= data['rootUrl'] %>/css/p/<%= data['catClass'] %>/<%= data['pageClass'] %>.css">
</head>
<body class="page-<%= data['catClass'] %>-<%= data['pageClass'] %>">

<% include ../_g/pagehead.ejs %>

<!--html start-->
<div class="page">
	<div class="main">
		<div class="m-list7">
			<section>
				<h2>支付系统升级公告 </h2>
				<p>关于对支付系统升级公告，关于对支付系统升级公告，关于对支付系统升级公告，关于对支付系统升级公告，关于对支付系统升级公告</p>
				<p>关于对支付系统升级公告，关于对支付系统升级公告，关于对支付系统升级公告，关于对支付系统升级公告，关于对支付系统升级公告</p>
			</section>
		</div>
	</div>
</div>
<!--html end-->

<% include ../_g/pagefoot.ejs %>
<% include ../_g/script.ejs %>
<script src="<%= data['rootUrl'] %>/js/p/<%= data['catClass'] %>/<%= data['pageClass'] %>.js"></script>
<% include ../_g/foot.ejs %>