<% include ../_g/head.ejs %>
<link rel="stylesheet" href="<%= data['rootUrl'] %>/css/p/<%= data['catClass'] %>/<%= data['pageClass'] %>.css">
</head>
<body class="page-<%= data['catClass'] %>-<%= data['pageClass'] %>">

<% include ../_g/pagehead.ejs %>

<!--html start-->
<div class="page">
	<div class="main">
		<div class="m-tit2"><h2>消息中心</h2></div>
		<div class="m-bt4">
			<a class="left act" href="#">公告消息</a>
			<a class="right" href="#">系统消息</a>    
		</div>
		<div class="m-list7">
			<section>
				<h2><a href="#">支付系统升级公告</a></h2>
				<p><a href="#">关于对支付系统升级公告，关于对支付系统升级公告，关于对支付系统升级公告，关于对支付系统升级公告，关于对支付系统升级公告</a></p>
			</section>
			<section>
				<h2><a href="#">支付系统升级公告</a></h2>
				<p><a href="#">关于对支付系统升级公告，关于对支付系统升级公告，关于对支付系统升级公告，关于对支付系统升级公告，关于对支付系统升级公告</a></p>
			</section>
			<section>
				<h2><a href="#">支付系统升级公告</a></h2>
				<p><a href="#">关于对支付系统升级公告，关于对支付系统升级公告，关于对支付系统升级公告，关于对支付系统升级公告，关于对支付系统升级公告</a></p>
			</section>
			<section>
				<h2><a href="#">支付系统升级公告</a></h2>
				<p><a href="#">关于对支付系统升级公告，关于对支付系统升级公告，关于对支付系统升级公告，关于对支付系统升级公告，关于对支付系统升级公告</a></p>
			</section>
		</div>
	</div>
</div>
<!--html end-->

<% include ../_g/pagefoot.ejs %>
<% include ../_g/script.ejs %>
<script src="<%= data['rootUrl'] %>/js/p/<%= data['catClass'] %>/<%= data['pageClass'] %>.js"></script>
<% include ../_g/foot.ejs %>