<% include ../../common/header.ejs %>
<link rel="stylesheet" href="<%=staticUrl%>/static/css/padmin/info_voucher_list.css">
</head>
<body class="store-manager">
<% include ../../common/h5-header.ejs %>
<% include ../../common/header_menu.ejs %>
	<div id="wrap">
		<div id="main" class="clearfix">
            <div id="content" class="content">
                <div class="ui-grid-row">
                    <div class="ui-grid-5 asidenav"><%include ../includes/sidebar.ejs%></div>
                    <div class="ui-grid-20">
                        <div class="main">
                            <div class="ui-block ui-block-title">
                                <div class="ui-title ui-title-line fn-clear">
                                    <h3>优惠券列表</h3>
                                </div>
                            </div>
                            <div class="store-code">
                                状态：
                                <select id="status">
                                    <option value="正常">正常</option>
                                    <option value="已上架" selected="selected">已上架</option>
                                    <option value="已下架">已下架</option>
                                    <option value="已结束">已结束</option>
                                    <option value="待上架">待上架</option>
                                </select>
                                <!--<div class="ui-select" style="width: 120px">
                                  <a href="javascript:void(0)" class="ui-select-trigger">全部<i class="iconfont" title="下三角形">&#xF03C;</i></a>
                                  <ul class="ui-select-content">
                                    <li class="ui-select-item"><a href="javascript:void(0)">正常</a></li>
                                    <li class="ui-select-item ui-select-item-disabled"><a href="javascript:void(0)">全部</a></li>
                                    <li class="ui-select-item"><a href="javascript:void(0)">暂停中</a></li>
                                  </ul>
                                </div>
                                -->
                                标题/品牌/编号：<input placeholder="标题/品牌/编号" class="ui-input ui-input-large" type="text"><a href="javascript:;" class="ui-button ui-button-lorange">查询</a>
                            </div>
                            <table class="ui-table" id="tblList">
                                <thead>
                                    <tr>
                                        <th colspan="2">活动</th>
                                        <th>状态</th>
                                        <th class="hand">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <%for(var i in voucherList) {%>
                                    <tr>
                                        <td class="list-img"><img  src="<%=voucherList[i].img%>" alt=""></td>
                                        <td>
                                            <p><%=voucherList[i].title%></p>
                                            <p>品牌：<%=voucherList[i].brand%></p>
                                            <p>时间：<%=voucherList[i].time%></p>
                                            <p>编号：<%=voucherList[i].id%></p>
                                        </td>
                                        <td><%=voucherList[i].status%></td>
                                        <td class="hand"><input type="button" class="ui-button ui-button-sorange" value="上架" /> <input type="button" data-id="<%=i%>" class="ui-button ui-button-sorange J_review" value="审核" /></td>
                                    </tr>
                                <%}%>
                                </tbody>
                            </table>
                            <!-- //分页 -->
                            <div class="pager">
                                <% include ../../common/pager.ejs %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
<% include ../../common/script_footer.ejs %>
<script src="<%=staticUrl%>/static/js/padmin/info_voucher_list.js"></script>
<% include ../../common/footer.ejs %>