<% include ../_g/head.ejs %>
<link rel="stylesheet" href="<%= data['rootUrl'] %>/css/p/<%= data['catClass'] %>/<%= data['pageClass'] %>.css">
</head>
<body class="page-<%= data['catClass'] %>-<%= data['pageClass'] %>">

<% include ../_g/pagehead.ejs %>

<!--html start-->
<div class="page">
	<div class="main">
		<div id="j_scroll">
				<div id="scroller">
					<div class="slide">
						<img src="http://i1.dpfile.com/pc/9f15542f3405b23ba0680b0cf1c47e55/31243539_m.jpg" />
					</div>
					<div class="slide">
						<img src="http://i1.dpfile.com/pc/9f15542f3405b23ba0680b0cf1c47e55/31243539_m.jpg" />
					</div>
					<div class="slide">
						<img src="http://i1.dpfile.com/pc/9f15542f3405b23ba0680b0cf1c47e55/31243539_m.jpg" />
					</div>
					<div class="slide">
						<img src="http://i1.dpfile.com/pc/9f15542f3405b23ba0680b0cf1c47e55/31243539_m.jpg" />
					</div>
				</div>
				<div id="indicator">
					<div id="dotty"></div>
				</div>
			</div>
			
			<div class="m-tit1"><h2>优衣库（西单大悦城店）</h2></div>
			<div class="m-list2">
				<p class="time">营业时间：8:00 - 18:00</p>
				<p class="adr">商铺地址：B1-10</p>
				<p class="pho">商家电话：<a href="tel:027-8462888">027-8462888</a></p>
			</div>
			<div class="m-list3">
				<h3>主营：</h3>
				<p>T恤、衬衫、时尚衣品</p>
			</div>
			<div class="m-list3">
				<h3>店铺介绍：</h3>
				<p>T恤、衬衫、时尚衣品T恤、衬衫、时尚衣品T恤、衬衫、时尚衣品T恤、衬衫、时尚衣品T恤、衬衫、时尚衣品T恤、衬衫、时尚衣品T恤、衬衫、时尚衣品T恤、衬衫、时尚衣品T恤、衬衫、时尚衣品</p>
				<p>优衣库优衣库优衣库优衣库优衣库优衣库优衣库优衣库优衣库优衣库优衣库优衣库优衣库优衣库优衣库优衣库优衣库优衣库优衣库优衣库优衣库优衣库优衣库优衣库优衣库优衣库优衣库优衣库</p>
				<p>时尚衣品时尚衣品时尚衣品时尚衣品时尚衣品时尚衣品时尚衣品时尚衣品时尚衣品时尚衣品</p>
			</div>
			<div class="m-list1">
				<div class="agio1">
					<b class="sale"></b>
					<div class="tex">
						<a href="#">查看店铺优惠券（3）</a>
					</div>
					<b class="more"></b>
				</div>
				<div class="agio1">
					<b class="acti"></b>
					<div class="tex">
						<a href="#">查看店铺活动（2）</a>
					</div>
					<b class="more"></b>
				</div>
			</div>
	</div>
</div>

<!--html end-->

<% include ../_g/pagefoot.ejs %>
<% include ../_g/script.ejs %>
<script src="<%= data['rootUrl'] %>/js/p/<%= data['catClass'] %>/<%= data['pageClass'] %>.js"></script>
<% include ../_g/foot.ejs %>