<% include ../../common/header.ejs %>

<link rel="stylesheet" href="<%=staticUrl%>/static/css/badmin/activity_list.css">
</head>
<body class="activity_list">
<% include ../../common/h5-header.ejs %>
<% include ../../common/header_menu.ejs %>

<div id="content" class="content">
    <div class="ui-grid-row">
        <div class="ui-grid-5 asidenav">
            <%include ../includes/sidebar.ejs%>
        </div>
        <div class="ui-grid-20">
            <div class="main">
                <div class="ui-block ui-block-title">
                    <div class="ui-title ui-title-line fn-clear">
                        <h3>活动列表</h3>
                    </div>
                </div>
                <div class="search-header">
                    <a target="_blank" href="" class="ui-button ui-button-lorange" >发布活动</a>
                    <div class="status">
                        状态：
                        <select id="status">
                            <option value="已上架">已上架</option>
                            <option value="已下架" selected="selected">已下架</option>
                            <option value="待上架">待上架</option>
                            <option value="草稿">草稿</option>
                        </select>
                    </div>
                </div>
               
                    <table class="ui-table">
                        <thead>
                            <tr>
                                <th colspan="2">活动</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%for(var i in activityList) {%>
                                <tr>
                                    <td class="img"><img  src="<%=activityList[i].img%>" alt=""></td>
                                    <td>
                                        <p><a href=""><%=activityList[i].name%></a></p>
                                        <p>时间：<%=activityList[i].begin%>-<%=activityList[i].end%></p>
                                        <p>编号<%=activityList[i].id%></p>
                                    </td>
                                    <td><%=activityList[i].status%></td>
                                    <td class="action">
                                        <p>
                                        <input type="button" class="ui-button ui-button-sorange" value="编辑">
                                        <input type="button" class="ui-button ui-button-sorange" value="复制">
                                        </p>
                                        <p>
                                        <input type="button" class="ui-button ui-button-sorange" value="上架">
                                        <input type="button" class="ui-button ui-button-sorange" value="下架">
                                        </p>
                                    </td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
               
                <!-- //分页 -->
                <div class="pager">
                    <% include ../../common/pager.ejs %>
                </div>
            </div>
        </div>
    </div>
    
</div>
<% include ../../common/script_footer.ejs %>
<script src="<%=staticUrl%>/static/js/badmin/activity_list.js"></script>
<% include ../../common/footer.ejs %>