<% include ../_g/head.ejs %>
<link rel="stylesheet" href="<%= data['rootUrl'] %>/css/p/<%= data['catClass'] %>/<%= data['pageClass'] %>.css">
</head>
<body class="page-<%= data['catClass'] %>-<%= data['pageClass'] %>">

<% include ../_g/pagehead.ejs %>

<!--html start-->
<div class="page">
	<div class="m-back">
    	<a href="#">上海小南国</a>
	</div>
	<div class="main">
		<div class="m-list8">
			<section class="in">
				<div class="m-pic1">
					<a href="#"><img src="http://www.chinabeer.net/uploadfiles/20108911252975.jpg"></a>
				</div>
				<div>
					<div class="m-tit1"><h2><a href="#">北京amp动感世界杯开幕</a></h2></div>
					<div class="m-list2">
						<p class="time"><a href="#">时间：2014-6-13 — 2014-7-16</a></p>
						<p class="adr"><a href="#">地点：B1-10</a></p>
					</div>
				</div>
				<div class="inpic"></div>
			</section>
			<section class="in">
				<div class="m-pic1">
					<a href="#"><img src="http://www.chinabeer.net/uploadfiles/20108911252975.jpg"></a>
				</div>
				<div>
					<div class="m-tit1"><h2><a href="#">北京amp动感世界杯开幕</a></h2></div>
					<div class="m-list2">
						<p class="time"><a href="#">时间：2014-6-13 — 2014-7-16</a></p>
						<p class="adr"><a href="#">地点：B1-10</a></p>
					</div>
				</div>
				<div class="inpic"></div>
			</section>
			<section class="in">
				<div class="m-pic1">
					<a href="#"><img src="http://www.chinabeer.net/uploadfiles/20108911252975.jpg"></a>
				</div>
				<div>
					<div class="m-tit1"><h2><a href="#">北京amp动感世界杯开幕</a></h2></div>
					<div class="m-list2">
						<p class="time"><a href="#">时间：2014-6-13 — 2014-7-16</a></p>
						<p class="adr"><a href="#">地点：B1-10</a></p>
					</div>
				</div>
				<div class="inpic"></div>
			</section>
		</div>
		<div class="m-load">
			<a href="#">
				<img src="<%= data['rootUrl'] %>/img/loading.gif">
				更多
			</a>
		</div>
	</div>
</div>

<!--html end-->

<% include ../_g/pagefoot.ejs %>
<% include ../_g/script.ejs %>
<script src="<%= data['rootUrl'] %>/js/p/<%= data['catClass'] %>/<%= data['pageClass'] %>.js"></script>
<% include ../_g/foot.ejs %>